$black: #000;
$white: #fff;
$green: #0f0;

* {
  font-family: 'Courier new', sans-serif;
  font-size: 10px;
  color: $white;
}

body {
  background-color: $black;
}

.input {
  color: $green;
  background-color: $black;
  border: 1px solid $green;
  border-radius: 2px;
}

.data {
  display: inline-block;
  width: 100px;
}

.threejs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;

  p {
    display: inline-block;
    margin: 10px;
  }

  input {
    margin: 10px;
  }

  .output {
    pointer-events: none;
  }

  ol {
    -webkit-padding-start: 30px;
  }
}
